.container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .login-input
  {
    border: 1px solid #C2C7D0;
    margin: 13px;
    padding:7px 10px;
    border-radius : 10px;
    width : 300px;
    text-align: center;
    border-color: rgb(78, 69, 138);
  }

  button {
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    width: 70px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(48, 20, 230, 0.2);
    transition: 0.4s;
  }

  p
  {
    font-size: 20px;
  }

  .login-button
  {
    color: white;
    background-color: rgb(78, 69, 138);
  }

  .error-msg
  {
    color: rgb(193, 29, 29);
    margin-top: 40px;
    background-color: #edeff1;
    border-radius: 10px;
    padding: 10px;
    font-size: small;
  }